<div class="row-fluid">
  <div class="col-xs-12" id="about">
    <section>
      <h1>About Me</h1>
      <p>I’m Stephanie Harris and I’ve recently left a career as a church music director to become a web developer.  I actually built my very first website when I was 11, but it wasn’t until last year, when I signed up for an online coding bootcamp, that I seriously considered a career in tech.</p>
      <br />
      <p>I knew that I would progress quicker in a more collaborative environment, so I switched to Rutgers’ Coding Bootcamp. I’ve developed skills in many front and back-end technologies like the ones listed below. Check out my <a href="/showcase">Project Showcase</a> for examples of my work!</p>
      <br />
    </section>
  </div>
</div>
