<div class="row-fluid">
  <div class="col-xs-12" id="contact">
    <img class="featurette-image img-responsive pull-right" src="assets/images/grayselfie.png">
    <h1 class="featurette-heading">Contact Info
      <span class="text-muted"></span>
    </h1>
    <p class="lead"><strong>Mailing Address:</strong><br>
       Easton Ave <br> Somerset, NJ 08873</p>
    <p><strong>Email: </strong>Steph.harris21@gmail.com</p>
    <p><strong>Cell: </strong> 908-616-8505</p>
    <div class="socIcons" id="contactSocIcons">
      <a href="https://www.linkedin.com/in/stephharris21" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/11-linkedin-48.png" alt="Stephanie's Linkedin"  border="0">
      </a>
      <a href="https://github.com/Steph-harris" target="_blank"><img src="http://cdn.flaticon.com/svg/38/38401.svg" alt="Stephanie's Github"  border="0">
      </a>
      <a href="http://stackoverflow.com/users/5072001/stephanie-harris" target="_blank"><img src="https://cdn1.iconfinder.com/data/icons/picons-social/57/stackoverflow_rounded-128.png" alt="Stephanie's Stack"  border="0">
      </a>
      <a href="https://twitter.com/steph_harris21" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/liu-square-blac/60/twitter-square-social-media-128.png" alt="Stephanie's Twitter"  border="0">
      </a>
    </div>
  </div>
</div>
