<div class="row-fluid">
  <div class="col-xs-12 fun">
    <section id="fun">
      <h1>Fun Facts</h1>
      <ul>
        <li><h3>I had just sent in my deposit to attend a 2 year web dev certificate course when I saw an online ad for the Rutgers Coding Bootcamp. I requested more info, immediately got a phone call, and 20 minutes later I was signed up!</h3></li>
        <li><h3>I've had two pet rabbits: Pumpkin and my current pet Bruno Bunny. Neither of them were shelter animals, but they were both part of my inspiration to create my shelter pet finder website <a href="https://showusapet.herokuapp.com">showusapet</a>.</h3></li><li><h3>I've been on choir tours to Austria,the Czech Republic, Germany, Ireland, and Italy, and I was part of the first American choir to have a concert in the Sistine Chapel in 2014. Less glamorously: I actually fainted during a performance at Carnegie Hall!</h3></li>
        <li><h3>After being a Yankees fan for three years, I became a huge Mets fan in 1999. There's still time for them to win another World Series before I turn 30!</h3></li>
      </ul>
    </section>
  </div>
</div>
