<div class="col-xs-12" id="home">
  <div class="col-xs-12 full">
    <div class="headInfo col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Stephanie Harris</h1>
      <p>MEAN stack web developer located in central NJ</p>
      <div class="socIcons">
        <a href="https://www.linkedin.com/in/stephharris21" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/windev-contacts-2/512/linkedin-512.png" alt="Stephanie's Linkedin" title="LinkedIn" border="0">
        </a>
        <a href="https://github.com/Steph-harris" target="_blank"><img src="https://cdn1.iconfinder.com/data/icons/social-media-outline-color/32/github_social_media_online-128.png" alt="Stephanie's Github" title="Github" border="0">
        </a>
        <a href="http://stackoverflow.com/users/5072001/stephanie-harris" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/miu-flat-social/60/stackoverflow-128.png" alt="Stephanie's Stack" title="Stackoverflow" border="0">
        </a>
        <a href="https://twitter.com/steph_harris21" target="_blank"><img src="https://cdn0.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/512/social_twitter_box_blue.png" alt="Stephanie's Twitter" title="Twitter" border="0">
        </a>
      </div>
    </div>
  </div>
</div>
