<div class="row-fluid">
  <div class="col-xs-12" id="skills">
    <div class="row tech">
      <h1>Tech Skills</h1>
      <div id="list-1" class="col-sm-6 col-md-3">
        <ul>
          <li><i class="fa fa-html5"></i> HTML</li>
          <li><i class="fa fa-css3"></i> CSS</li>
          <li><i class="devicon-bootstrap-plain"></i> Bootstrap</li>
          <li><img alt="Materialize" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSaHI98DwQW8i9agPN_ZlEGbZe55_i_mDUGPDDnzKkGUKuc_3zK"> Materialize</li>
          <li><i class="devicon-foundation-plain"></i> Foundation</li>
        </ul>
      </div><!-- end column -->
      <div id="list-2" class="col-sm-6 col-md-3">
        <ul>
          <li><i class="devicon-javascript-plain"></i> Javascript</li>
          <li><i class="devicon-jquery-plain"></i> jQuery</li>
          <li><i class="devicon-angularjs-plain"></i> AngularJS</li>
          <li><img alt="Express" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT5zblGBqjy6jaRdSOIiEFVpVuNetbaUJ9iWKUhwFUPZD8myqRN"> ExpressJS</li>
          <li><i class="devicon-nodejs-plain"></i> NodeJS</li>
        </ul>
      </div><!-- end column -->
      <div id="list-3" class="col-sm-6 col-md-3">
        <ul>
          <li><i class="devicon-mysql-plain"></i> MYSQL</li>
          <li><i class="devicon-mongodb-plain colored"></i> MongoDB
          <li><img alt="Firebase" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn01wtWimkwT7Vh0DdeBvLI1OmhMcoHYMYAQAyXRiYOWvBzG_CbQ"> Firebase</li>
          </li>
          <li><img alt="Sequelize" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTy2tjQfRKMUJgb9ngMou5aXrpQDnF7nIsNA43iv7OM57p-GRMb1A"> Sequelize</li>

        </ul>
      </div><!-- end column -->
      <div id="list-4" class="col-sm-6 col-md-3">
        <ul>
          <li><i class="fa fa-github"></i> Github</li>
          <li><i class="devicon-heroku-plain"></i> Heroku</li>
          <li><img alt="JSON" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSaz_5EA51IBKf4F5y-5bKKMrQdVqsLQLVrUpoBs_IG9NqC45V-"> JSON</li>
          <li><i class="fa fa-trello"></i> Trello</li>
        </ul>
      </div> <!-- end column -->
    </div>
  </div>
</div>
