/*Blog CSS*/
.blog {
  background-image: url("/assets/images/linedpaper.png");
}
blockquote {
  border: 3px solid #eee;
}
/*Repo CSS*/
td>a:hover {
  color: #DE9E29;
}

#fun {
  color: #46300C;
  background-image: url("/assets/images/music-brown.jpg");
  background-position: 20% 100%;
  padding: 7% 12%;
}
.fun {
  padding-left: 0;
  padding-right: 0;
}

#fun h1 {
  margin-left: 20px;
}
#fun ul {
  padding-right: 20px;
  padding-left: 20px;
}
