body {
  background-color: #fefefe;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 22px
}

#extras{
  padding: 0 3%;
  background-color: #274D5D;
  color: #BFC0B8;
  text-align: right;
}
